<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Edit Menu Item | Awexome Restaurant Keeper</title>
    </head>
    <body>
        <h1>Awexome Restaurant Keeper</h1>

        <nav>
            <ul>
                <li><a href="#">Restaurant</a></li>
                <li><a href="#">Create Restaurant</a></li>
            </ul>
        </nav>

        <section>
            <h3>Are you sure you want to delete {{ menu.name }}</h3>

            <form>
                <button type="submit">Delete</button>
            </form>
            <div>
                <a href="#">Cancel</a>
            </div>
        </section>
    </body>
</html>