<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Delete Restaurant | Awexome Restaurant Keeper</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Awexome Restaurant Keeper</h1>

        <nav>
            <ul>
                <li><a href="#">Restaurants</a></li>
                <li><a href="#">Create Restaurant</a></li>
                <li><a href="#">Create Menu Item</a></li>
            </ul>
        </nav>

        <section>
            {% if restaurant %}
              <h2 class="centered">Are you sure you want to delete {{ restaurant.name }}?</h2>
              <form action="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id)}}" method="POST" class="no-border-form">
                  <div id="delete-button">
                      <button type="submit">Delete</button>
                  </div>

                  <div>
                    <a href="{{ url_for('showRestaurants')}}">Cancel</a>
                  </div>
              </form>
              <!--<div>
                  <a href="#">Cancel</a>
              </div>-->
            {% else %}
              <p>There is no such restaurant</p>
              <p><a href="{{ url_for('newRestaurant') }}">Make a New Restaurant</a></p>
            {% endif %}
        </section>
    </body>
</html>