<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Edit Menu Item | Awexome Restaurant Keeper</title>
    </head>
    <body>
        <h1>Awexome Restaurant Keeper</h1>

        <nav>
            <ul>
                <li><a href="#">Restaurant</a></li>
                <li><a href="#">Create Restaurant</a></li>
            </ul>
        </nav>

        <section>
            <h2>Edit {{ menu.name }}</h2>
            <form action="{{ url_for('editMenuItem', restaurant_id = menu.restaurant_id, menu_id = menu.id ) }}" method="POST">
                <div>
                    <label for="menu_name">Name</label>
                    <input type="text" id="menu_name" name="name" placeholder="Menu Item name" value="{{ menu.name }}">
                </div>
                
                <div>
                    <label for="menu_price">Price</label>
                    <input type="text" id="menu_price" name="price" placeholder="Menu item price" 
                    value={{ menu.price }}>
                </div>
                
                <div>
                    <label for="menu_course">Course</label>
                    {% if courses %} 
                    {% for course in courses %}
                      <br>
                      {% if course == menu_course %}
                        <!-- pre-select the course of this particular menu item -->
                        <input type="radio" id="menu_course" name="course" value={{ course }} checked> {{ course }}
                      {% else %}
                        <input type="radio" id="menu_course" name="course" value={{ course }}> {{ course }}
                      {% endif %}
                    {% endfor %} 
                    {% else %}
                      <input type="text" id="menu_course" name="course" placeholder="Menu Course"> 
                    {% endif %}
                </div>
                
                <div>
                    <label for="menu_desc">Description</label>
                    <textarea style="width: 200px; height: 50px" name = "description">{{ menu.description }}</textarea>
                </div>
                
                <div>
                    <button type="submit">Edit</button>
                    <a href="{{ url_for('showMenu', restaurant_id = menu.restaurant_id) }}">Cancel</a>
                </div>
            </form>
        </section>
    </body>
</html>