<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Restaurant | Awexome Restaurant Keeper</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Awexome Restaurant Keeper</h1>

        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('showRestaurants')}}">Restaurant</a>
                </li>
                <li>
                    <a href="{{ url_for('newRestaurant')}}">Create Restaurant</a>
                </li>
                <li>
                    <a href="{{ url_for('newMenuItem', restaurant_id = restaurant.id)}}">Create Menu Item</a>
                </li>
            </ul>
        </nav>
        
        <section>

            {% if restaurant %}
              <h2>Edit {{ restaurant.name }}</h2>

              
              <form action="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}" method="POST">
                  <div>
                      <label for="name">Restaurant Name</label>
                      <input type="text" id="name" name="name" placeholder="{{ restaurant.name }}">
                  </div>

                  <div>
                      <button type="submit">Save</button>
                  </div>
              </form>

              <div>
                  <a href="#">Cancel</a>
              </div>

              {% else %}
                <p>No such restaurant</p>
                <p><a href="{{ url_for('newRestaurant') }}">Make a New Restaurant</a></p>
              {% endif %}
        </section>
    </body>
</html>

