<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Create New Restaurant | Awexome Restaurant Keeper</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Awexome Restaurant Keeper</h1>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('showRestaurants')}}">Restaurant</a>
                </li>
            </ul>
        </nav>
        <section>
            <h2 id="left-aligned-heading">Make a New Restaurant</h2>
            <div>
                <form action="{{ url_for('newRestaurant')}}" method="POST">
                    <div>
                        <label for="name">Restaurant Name</label>
                        <input type="text" id="name" name="name" placeholder="Enter a restaurant name">
                    </div>

                    <div>
                        <button type="submit">Create</button>
                    </div>
                </form>
            </div>
        </section>
    </body>