<!doctype html>
<html lang="en">
    <head>
        <title>Restaurants | Awexome Restaurant Keeper</title>
        <meta charset="utf-8">
        <link rel='stylesheet' href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Awexome Restaurant Keeper</h1>
        
        <section>
            <form action="{{ url_for('findRestaurant')}}" method="GET" id="search-form" class="no-border-form">
                <div>
                    <input type="search" spellcheck="false" name="q" placeholder="Search Restaurants">
                    <button type="submit">Search</button>
                </div>
            </form>
        </section>

        <div>
            {% with messages  = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
        <h2>All Restaurants</h2>
        <section>
            {% if restaurants %}
              <ul>
                  {% for restaurant in restaurants %}
                    <div class="restaurant-cl">
                        <li><a href="{{ url_for('showMenu', restaurant_id = restaurant.id ) }}">{{ restaurant.name }}</a></li>
                        <a href="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}" class = "rest-link">Edit</a>
                        <a href="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id )}}" class="rest-link">Delete</a>
                    </div>
                  {% endfor %}
              </ul>
            {% else %}
              <p>There are no restaurants</p>
            {% endif %}
        </section>

        <div>
            <a href="{{ url_for('newRestaurant') }}">Create a New Restaurant</a>
        </div>
    </body>
</html>